OPENAI_API_KEY=replace-with-openai-api-key
OLLAMA_BASE_URL=http://localhost:11434
ANTHROPIC_API_KEY=replace-with-anthropic-api-key
OPENROUTER_API_KEY=replace-with-openrouter-api-key
CONFIDENT_AI_API_KEY=replace-with-deepeval-api-key
DEBUG_MODE=false
VERBOSE_LOGGING=false
